<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="sony.xml"/>
    <import resource="toshiba.xml"/>

    <bean id="oracleConnection" class="impls.db.OracleConnection" init-method="connect"/>

    <bean id="baseModel" class="impls.robot.BaseT1000" abstract="true">
        <property name="head" ref="sonyHead"/>
        <property name="hand" ref="toshibaHand"/>
        <property name="leg" ref="sonyLeg"/>
    </bean>

    <bean id="t1000"
          class="impls.robot.T1000"
          init-method="init"
          destroy-method="destroy"
          scope="prototype"
          depends-on="oracleConnection"
          parent="baseModel">

        <property name="color" value="red"/>
        <property name="year" value="2000"/>
        <property name="soundEnabled" value="false"/>
    </bean>

    <bean id="t1001"
          class="impls.robot.T1000"
          init-method="init"
          destroy-method="destroy"
          scope="prototype"
          depends-on="oracleConnection"
          parent="baseModel">

        <property name="color" value="green"/>
        <property name="year" value="1999"/>
        <property name="soundEnabled" value="true"/>
    </bean>

    <bean id="t1000Factory" class="impls.factory.T1000Factory" scope="singleton">
        <lookup-method name="newRobot" bean="t1000"/>
    </bean>

</beans>